{
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "env": {
      "browser": true,
      "node": true
  },
  "extends": [
  	"react-app",
    "eslint:recommended",
    "plugin:react/all"
  ],
  "rules": {
    "indent": [2, "tab"],
    "strict": 0,
    "semi": ["error", "always", {"omitLastInOneLineBlock": true}],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"],
    "react/jsx-filename-extension": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-multi-comp": 0,
    "react/forbid-prop-types": 0,
    "react/no-set-state": 0,
    "react/jsx-indent": [2, 'tab'],
    "react/jsx-indent-props": [2, 'tab'],
    "react/jsx-max-depth": [2, { "max": 4 }],
    "react/jsx-sort-props": [2, {
      "reservedFirst": true,
      "shorthandFirst": true,
      "callbacksLast": true,
      "ignoreCase": true,
    }],
    "react/jsx-no-bind": [2, {
      "allowArrowFunctions": true,
    }],
    "react/jsx-max-props-per-line": [2, { "maximum": 3 }]
  }
}
